ResponseOrganicPages{result=[OrganicPage{url='https://www.amazon.com/Prime-Video/b?ie=UTF8&node=2676882011',
organicPositions=365, adWordsPositions=0, traffic=16332, trafficPercent=99.91},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=Girls+und+Panzer+das+Finale%3A+Part+II+%282019%29&rh=n%3A2858778011',
organicPositions=2, adWordsPositions=0, traffic=4, trafficPercent=0.02},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=%22Alex+van+Warmerdam%2C+Ariane+Schluter%2C+Mark+Rietman%2C+Pierre+Bokma%2C+Thekla+Reuten%2C+Jaap+Spijkers%22&rh=n%3A2858778011',
organicPositions=1, adWordsPositions=0, traffic=3, trafficPercent=0.01},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=IT&rh=n%3A2858778011',
organicPositions=2, adWordsPositions=0, traffic=3, trafficPercent=0.01},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=Tonight+I+Celebrate+My+Love+Peabo+Bryson+%2F+Roberta+Flack&rh=n%3A2858778011',
organicPositions=1, adWordsPositions=0, traffic=2, trafficPercent=0.01},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?ie=UTF8&page=1&rh=n%3A2858778011%2Ck%3A%22Brianne%20Howey%22',
organicPositions=1, adWordsPositions=0, traffic=2, trafficPercent=0.01},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=King+of+the+Hill+Season+1+Westie+Side+Story&rh=n%3A2858778011',
organicPositions=1, adWordsPositions=0, traffic=0, trafficPercent=0.0},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=Modern+Family+Season+6+The+Day+We+Almost+Died&rh=n%3A2858778011',
organicPositions=1, adWordsPositions=0, traffic=0, trafficPercent=0.0},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=Ich+liebe+den+Mann+meiner+besten+Freundin&rh=n%3A2858778011',
organicPositions=1, adWordsPositions=0, traffic=0, trafficPercent=0.0},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=Dick+Clark%27s+New+Year%27s+Rockin%27+Eve+with+Ryan+Seacrest+%281972%29&rh=n%3A2858778011',
organicPositions=1, adWordsPositions=0, traffic=0, trafficPercent=0.0},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=H%C3%A4py+endk%C3%B6%3F+Eli+kuinka+Uuno+Turhapuro+sai+niin+kauniin+ja+rikkaan+vaimon+%281977%29&rh=n%3A2858778011',
organicPositions=1, adWordsPositions=0, traffic=0, trafficPercent=0.0},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=2019+Open+13+Provence%2C+ATP+250+%E2%80%93+Day+6&rh=n%3A2858778011',
organicPositions=1, adWordsPositions=0, traffic=0, trafficPercent=0.0},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=Taylor+Swift%3A+The+1989+World+Tour+-+Live+%282015%29&rh=n%3A2858778011',
organicPositions=4, adWordsPositions=0, traffic=0, trafficPercent=0.0},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=%22Samuel+Butler%2CJodie+Shaw%2CNorman+Lovett%2CChris+Adamson%2CEmily+Booth%2C%22&rh=n%3A2858778011',
organicPositions=1, adWordsPositions=0, traffic=0, trafficPercent=0.0},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=My+Hero+Academia%3A+Save%21+Rescue+Training%21+%282017%29&rh=n%3A2858778011',
organicPositions=2, adWordsPositions=0, traffic=0, trafficPercent=0.0},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=Bill+Burr%3A+Walk+Your+Way+Out+%282017%29&rh=n%3A2858778011',
organicPositions=1, adWordsPositions=0, traffic=0, trafficPercent=0.0},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=Full+House+Season+4+Ol%27+Brown+Eyes&rh=n%3A2858778011',
organicPositions=1, adWordsPositions=0, traffic=0, trafficPercent=0.0},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=Grey%27s+Anatomy+Season+4+Losing+My+Mind&rh=n%3A2858778011',
organicPositions=1, adWordsPositions=0, traffic=0, trafficPercent=0.0},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=1%3A13%3A7+Ek+Tera+Saath+%282016%29&rh=n%3A2858778011',
organicPositions=1, adWordsPositions=0, traffic=0, trafficPercent=0.0},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=Obsz%C3%B6n+%E2%80%93+Der+Fall+Peter+Herzl+%281981%29&rh=n%3A2858778011',
organicPositions=1, adWordsPositions=0, traffic=0, trafficPercent=0.0},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=Dil+Se+Di+Dua...+Saubhagyavati+Bhava%3F+%282011%29&rh=n%3A2858778011',
organicPositions=1, adWordsPositions=0, traffic=0, trafficPercent=0.0},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=Katy+Perry%3A+Live+at+iTunes+Festival+2013+%282013%29&rh=n%3A2858778011',
organicPositions=1, adWordsPositions=0, traffic=0, trafficPercent=0.0},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=%22Frank+Feldman%2C+Eric+Tierney%2C+Troy+Williams%2C+Chris+J.+Howard%22&rh=n%3A2858778011',
organicPositions=1, adWordsPositions=0, traffic=0, trafficPercent=0.0},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=U%C4%9Fur+Uzunel+M.+Sitare+Akba%C5%9F+Mert+Asutay+Riza+Akin+Serkan+Alt%C4%B1nta%C5%9F+%C3%96zer+Arsian+Pinar+Gok+Engin+Hepileri+Sebnem+K%C3%B6stem+Huseyin+Sevimli+S%C4%B1rr%C4%B1+S%C3%BCreyya+%C3%96nder&srs=13987014011&rh=n%3A2858778011',
organicPositions=1, adWordsPositions=0, traffic=0, trafficPercent=0.0},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=Executive+Producer+Phillippa+Giles+%28Our+Mutual+Friend&rh=n%3A2858778011',
organicPositions=1, adWordsPositions=0, traffic=0, trafficPercent=0.0},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=Der+trojanische+Krieg+findet+nicht+statt+%281964%29&rh=n%3A2858778011',
organicPositions=1, adWordsPositions=0, traffic=0, trafficPercent=0.0},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=Star+Wars%3A+Episode+I+-+The+Phantom+Menace+%281999%29&rh=n%3A2858778011',
organicPositions=2, adWordsPositions=0, traffic=0, trafficPercent=0.0},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=Kis+Desh+Mein+Hai+Meraa+Dil+%282020%29&rh=n%3A2858778011',
organicPositions=1, adWordsPositions=0, traffic=0, trafficPercent=0.0},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=Kono+Subarashii+Sekai+ni+Shukufuku+wo%21+God%27s+Blessings+on+This+Wonderful+Choker%21+%282016%29&rh=n%3A2858778011',
organicPositions=1, adWordsPositions=0, traffic=0, trafficPercent=0.0},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=Robot+Chicken+DC+Comics+Special+III%3A+Magical+Friendship+%282015%29&rh=n%3A2858778011',
organicPositions=1, adWordsPositions=0, traffic=0, trafficPercent=0.0},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=KELTY+KIDS+BASE+CAMP+BABY+BACKPACK+CARRIER%7CeBay&rh=n%3A2858778011',
organicPositions=1, adWordsPositions=0, traffic=0, trafficPercent=0.0},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=Hanna-Barbera%27s+50th%3A+A+Yabba+Dabba+Doo+Celebration+%282020%29&rh=n%3A2858778011',
organicPositions=1, adWordsPositions=0, traffic=0, trafficPercent=0.0},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=Quickhiker+Ultralight+2+Hiking+Tent+-+2+Man%2C+Grey+%7C+Decathlon&rh=n%3A2858778011',
organicPositions=1, adWordsPositions=0, traffic=0, trafficPercent=0.0},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=Engine+Sentai+Go-Onger%3A+10+Years+Grand+Prix+%282018%29&rh=n%3A2858778011',
organicPositions=1, adWordsPositions=0, traffic=0, trafficPercent=0.0},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=2019+Miami+Open+presented+by+Itau%2C+ATP+Masters+1000+%E2%80%93+Day+1&rh=n%3A2858778011',
organicPositions=1, adWordsPositions=0, traffic=0, trafficPercent=0.0},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=Star+Wars%3A+Episode+I+%E2%80%93+The+Phantom+Menace&rh=n%3A2858778011',
organicPositions=2, adWordsPositions=0, traffic=0, trafficPercent=0.0},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=Grey%27s+Anatomy+Season+5+There%27s+No+%27I%27+in+Team&rh=n%3A2858778011',
organicPositions=1, adWordsPositions=0, traffic=0, trafficPercent=0.0},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=Aitor+Merino%2C+Elvira+M%C3%ADnguez%2C+Nathalie+Sese%C3%B1a%2C+Alicia+S%C3%A1nchez&srs=10690897011&rh=n%3A2858778011',
organicPositions=1, adWordsPositions=0, traffic=0, trafficPercent=0.0},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=Ian+McKellen%3B+Martin+Freeman%3B+Richard+Armitage%3B+Lee+Pace&rh=n%3A2858778011',
organicPositions=1, adWordsPositions=0, traffic=0, trafficPercent=0.0},
OrganicPage{url='https://www.amazon.com/Prime-Video/s?k=Arabela+se+vrac%C3%AD+aneb+Rumburak+kr%C3%A1lem+%C5%98%C3%AD%C5%A1e+poh%C3%A1dek+%281993%29&rh=n%3A2858778011',
organicPositions=1, adWordsPositions=0, traffic=0, trafficPercent=0.0}]}
